[package]
name = "annie-mei"
version = "1.4.2"
edition = "2021"
license = "GPL-3.0-or-later"
rust-version = "1.75"

[package.metadata.cross.target.armv7-unknown-linux-gnueabihf]
pre-build = [
  "dpkg --add-architecture armhf && apt-get update && apt-get install --assume-yes libpq-dev:armhf",
]
image = "ghcr.io/cross-rs/armv7-unknown-linux-gnueabihf:latest"

[profile.dev]
split-debuginfo = "unpacked"

[profile.release]
lto = true
codegen-units = 1

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4"
diesel = { version = "2.0.4", features = ["postgres"] }
diesel_migrations = "2.0.0"
env_logger = "0.10"
futures = "0.3.28"
html2md = "0.2.14"
log = "0.4"
ngrammatic = "0.4.0"
openssl = { version = "0.10", features = ["vendored"] }
reqwest = { version = "0.11.16", features = ["blocking", "rustls-tls"] }
redis = "0.23.0"
rspotify = { version = "0.11.6", default-features = false, features = [
  "client-ureq",
  "ureq-rustls-tls",
] }
sentry = { version = "0.31.0", features = ["tracing"] }
serde = "1.0"
serde_json = "1.0"
serenity = "0.11"
strum = { version = "0.24", features = ["derive"] }
titlecase = "2.2.1"
tokio = { version = "1.27", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
wana_kana = "3.0.0"
