on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "**/README.md"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+-beta"

name: ARM64 build-beta

permissions:
  contents: write

jobs:
  build:
    name: Build ARM64 beta
    runs-on: ubuntu-24.04-arm
    container: rust:1-bullseye
    env:
      CARGO_TERM_COLOR: always
      RUSTC_WRAPPER: ""
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Rust
        run: rustup update stable && rustup default stable
      - name: Install dependencies
        run: apt-get update && apt-get install -y libpq-dev
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"
          prefix-key: "annie-mei"
          shared-key: "cargo"
      - name: Build
        run: cargo build --release
      - name: Upload debug symbols to Sentry
        run: |
          curl -sL https://sentry.io/get-cli/ | bash
          sentry-cli debug-files upload --include-sources target/release/
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
      - name: Prepare artifact
        run: cp target/release/annie-mei ./annie-mei
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: annie-mei-beta-arm64
          path: |
            annie-mei
            mei.jpg
      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/release/annie-mei
            LICENSE
            mei.jpg
          prerelease: true
