on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "**/README.md"
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+-beta"

name: ARM64 build-beta

permissions:
  contents: write

jobs:
  build:
    name: Build ARM64 beta
    runs-on: ubuntu-24.04-arm
    env:
      CARGO_TERM_COLOR: always
      RUSTC_WRAPPER: ""
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        run: rustup update stable && rustup default stable
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libpq-dev
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: "true"
          prefix-key: "annie-mei"
          shared-key: "cargo"
      - name: Build
        run: cargo build --release
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: annie-mei-beta-arm64
          path: target/release/annie-mei
      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/aarch64-unknown-linux-gnu/release/annie-mei
            LICENSE
          prerelease: true
