on:
  workflow_dispatch:
  pull_request:
    branches-ignore:
      - "dependabot/*"
  push:
    branches:
      - "main"
    paths-ignore:
      - "**/README.md"

name: Clippy Analyze

jobs:
  rust-clippy-analyze:
    if: ${{ github.actor != 'dependabot[bot]' }}
    name: Clippy Analysis
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
      RUSTC_WRAPPER: ""
    permissions:
      contents: read
      security-events: write
      actions: read
    steps:
      - name: Build-checkout
        uses: actions/checkout@v6
      - name: Install Rust
        run: rustup update stable && rustup default stable
      - name: Cache
        uses: Swatinem/rust-cache@v2.8.2
        with:
          cache-on-failure: "true"
          prefix-key: "annie-mei"
          shared-key: "cargo"
      - name: Install crates
        run: cargo install clippy-sarif sarif-fmt
      - name: Run Clippy
        run: |
          cargo clippy \
            --all-features \
            --message-format=json \
            | clippy-sarif | tee rust-clippy-results.sarif | sarif-fmt
        continue-on-error: true
      - name: Annotate PR
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: rust-clippy-results.sarif
          wait-for-processing: true
